<div class="fondo">
  <span class="text-white text-2xl font-bold p-5">Yarleis Ramírez</span>
  <div class="flex justify-center text-white w-full py-5">
    <div>
      <span class="text-center text-3xl font-bold">Verbo To-Bo</span>
    </div>
  </div>

  <div class="flex justify-center gap-4 px-5">
    <div class="bg-slate-300 rounded-lg p-3">
      <span class="text-xl font-bold text-black">Verb To-Be</span>
      <p class="text-base">El verbo "to be" (ser/estar) es uno de los verbos más importantes en inglés y se utiliza para expresar identidad, estado y características de una persona, animal o cosa en cualquier tiempo o modo. En presente simple, las formas son "am", "is" y "are", y en pasado simple, las formas son "was" y "were". El verbo "to be" también se utiliza como auxiliar para formar tiempos verbales compuestos y continuos. Por ejemplo, "I am going to the store" (Estoy yendo a la tienda) y "He was studying all night" (Él estaba estudiando toda la noche).</p>
    </div>
  </div>

  <div class="flex flex-col md:flex-row justify-center gap-4 p-8">
    <div class="bg-slate-300 rounded-lg p-3 w-full">
      <span class="text-xl font-bold text-black">Presente Simple</span>
      <p class="text-base pb-2">El presente simple en inglés se utiliza para hablar de acciones habituales, hechos y verdades universales. La forma básica del presente simple se construye añadiendo "-s" o "-es" al final del verbo en tercera persona singular (he, she, it) y se mantiene igual en las demás personas.
        La estructura básica es: Sujeto + verbo en infinitivo + (s/es para la tercera persona singular) + complemento.</p>
        <p class="text-sm">- I work in a bank. (Trabajo en un banco)</p>
        <p class="text-sm">- You play soccer very well. (Juegas muy bien al fútbol)</p>
        <p class="text-sm">- He watches TV every night. (Él ve la televisión todas las noches)</p>
        <p class="text-sm">- She always brushes her teeth before going to bed. (Ella siempre se cepilla los dientes antes de ir a dormir)</p>
        <p class="text-sm">- It rains a lot in this city. (Llueve mucho en esta ciudad)</p>
    </div>

    <div class="bg-slate-300 rounded-lg p-3 w-full">
      <span class="text-xl font-bold text-black">Presente Afirmativo</span>
      <p class="text-base pb-2">
        se utiliza para expresar una acción o estado que es verdadero o cierto. En el presente simple, la forma afirmativa se construye utilizando la forma base del verbo para las personas "I", "you", "we" y "they", mientras que para la tercera persona singular "he", "she" y "it", se añade una "s" o "es" al final del verbo.
        La estructura básica de una oración afirmativa en presente simple es la siguiente:
        Sujeto + verbo en infinitivo + (s/es para la tercera persona singular) + complemento
      </p>
      <p class="text-sm">- I play soccer every Saturday. (Juego fútbol todos los sábados)</p>
      <p class="text-sm">- You speak Spanish very well. (Hablas español muy bien)</p>
      <p class="text-sm">- He eats breakfast at 7 am. (Él desayuna a las 7 am)</p>
      <p class="text-sm">- She studies English at the university. (Ella estudia inglés en la universidad)</p>
      <p class="text-sm">- It rains a lot in this city. (Llueve mucho en esta ciudad)</p>
    </div>

  </div>

  <div class="flex flex-col md:flex-row justify-center gap-4 p-8">
    <div class="bg-slate-300 rounded-lg p-3 w-full">
      <span class="text-xl font-bold text-black">Presente Negativo</span>
      <p class="text-base pb-2">
        se utiliza para expresar una acción o estado que es falso o no cierto. En el presente simple, la forma negativa se construye utilizando la forma base del verbo para las personas "I", "you", "we" y "they", mientras que para la tercera persona singular "he", "she" y "it", se añade una "s" o "es" al final del verbo.
        La estructura básica de una oración negativa en presente simple es la siguiente:
        Sujeto + verbo en infinitivo + (s/es para la tercera persona singular) + complemento
      </p>
      <p class="text-sm">- I don't play soccer every Saturday. (No juego fútbol todos los sábados)</p>
      <p class="text-sm">- You don't speak Spanish very well. (No hablas español muy bien)</p>
      <p class="text-sm">- He doesn't eat breakfast at 7 am. (Él no desayuna a las 7 am)</p>
      <p class="text-sm">- She doesn't study English at the university. (Ella no estudia inglés en la universidad)</p>
      <p class="text-sm">- It doesn't rain a lot in this city. (No llueve mucho en esta ciudad)</p>
    </div>

    <div class="bg-slate-300 rounded-lg p-3 w-full">
      <span class="text-xl font-bold text-black">Presente Interrogativo</span>
      <p class="text-base pb-2">
        se utiliza para preguntar por una acción o estado que es verdadero o cierto. En el presente simple, la forma interrogativa se construye utilizando la forma base del verbo para las personas "I", "you", "we" y "they", mientras que para la tercera persona singular "he", "she" y "it", se añade una "s" o "es" al final del verbo.
        La estructura básica de una oración interrogativa en presente simple es la siguiente:
        Sujeto + verbo en infinitivo + (s/es para la tercera persona singular) + complemento
      </p>
      <p class="text-sm">- Do I play soccer every Saturday? (¿Juego fútbol todos los sábados?)</p>
      <p class="text-sm">- Do you speak Spanish very well? (¿Hablas español muy bien?)</p>
      <p class="text-sm">- Does he eat breakfast at 7 am? (¿Él desayuna a las 7 am?)</p>
      <p class="text-sm">- Does she study English at the university? (¿Ella estudia inglés en la universidad?)</p>
      <p class="text-sm">- Does it rain a lot in this city? (¿Llueve mucho en esta ciudad?)</p>
  </div>
</div>